html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  border: 2px solid black;
  width: 75vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.project {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.toDoHead {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3%;
}

.projectHead {
  display: flex;
  justify-content: center;
}

#headingText {
  margin-left: 5%;
}

#backBtn {
}

.listObject {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.listObject > * {
  max-width: 7%;
}

.listObject > button {
  flex-grow: 2;
}

#container > :not(:first-child) {
  margin-top: 1%;
}

.modal {
  position: absolute;
  width: 40vw;
  background-color: white;
  top: 20%;
  border: 1px solid #ddd;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modalHead {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}