html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  border: 2px solid black;
  width: 75vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.project {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}

.listObject {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}

.listObject > * {
  max-width: 10%;
}

#container > :not(:first-child) {
  margin-top: 1%;
}